# Stellar Network RPC URLs
NEXT_PUBLIC_TESTNET_RPC_URL=https://soroban-testnet.stellar.org
NEXT_PUBLIC_MAINNET_RPC_URL=https://mainnet.stellar.validationcloud.io/v1/soroban/rpc
NEXT_PUBLIC_FUTURENET_RPC_URL=https://rpc-futurenet.stellar.org

# Active network (testnet | mainnet | futurenet)
NEXT_PUBLIC_NETWORK=testnet

# Soroban contract addresses
NEXT_PUBLIC_ORACLE_CONTRACT_ID=
NEXT_PUBLIC_PROVENANCE_CONTRACT_ID=
NEXT_PUBLIC_REGISTRY_CONTRACT_ID=
